# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## front ignoring
# dependencies
otbfront/node_modules
otbfront/.pnp
otbfront/.pnp.js

# testing
otbfront/coverage

# production
otbfront/build

# misc
otbfront/.DS_Store
otbfront.env.local
otbfront.env.development.local
otbfront/.env.test.local
otbfront/.env.production.local

otbfront/npm-debug.log*
otbfront/yarn-debug.log*
otbfront/yarn-error.log*

otbfront/src/server/getServer.ts
#back ignoring
otbback/HELP.md
otbback/.gradle
otbback/build/
otbback/!gradle/wrapper/gradle-wrapper.jar
otbback/!**/src/main/**/build/
otbback/!**/src/test/**/build/

### STS ###
otbback/.apt_generated
otbback/.classpath
otbback/.factorypath
otbback/.settings
otbback/.springBeans
otbback/.sts4-cache
otbback/bin/
otbback/!**/src/main/**/bin/
otbback/!**/src/test/**/bin/

### IntelliJ IDEA ###
otbback/.idea
otbback/*.iws
otbback/*.iml
otbback/*.ipr
otbback/out/
otbback/!**/src/main/**/out/
otbback/!**/src/test/**/out/


### NetBeans ###
otbback/nbbackend/private/
otbback/nbbuild/
otbback/dist/
otbback/nbdist/
otbback/.nb-gradle/


###otbback profail###
otbback/src/main/resources/application-db.properties
###test###
otbback/src/test/

### VS Code ###
.vscode/

package-lock.json
otbfront/package-lock.json

### otbapp ###
# Miscellaneous
otbapp/*.class
otbapp/*.log
otbapp/*.pyc
otbapp/*.swp
otbapp/.DS_Store
otbapp/.atom/
otbapp/.buildlog/
otbapp/.history
otbapp/.svn/
otbapp/migrate_working_dir/

# IntelliJ related
otbapp/*.iml
otbapp/*.ipr
otbapp/*.iws
otbapp/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
otbapp/**/doc/api/
otbapp/**/ios/Flutter/.last_build_id
otbapp/.dart_tool/
otbapp/.flutter-plugins
otbapp/.flutter-plugins-dependencies
otbapp/.pub-cache/
otbapp/.pub/
otbapp//build/

# Symbolication related
otbapp/app.*.symbols

# Obfuscation related
otbapp/app.*.map.json

# Android Studio will place build artifacts here
otbapp//android/app/debug
otbapp//android/app/profile
otbapp//android/app/release