@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
  font-family: 'Material Icons';
  display: inline-block;
}
footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
}
